name: CI
on:
  push:
    branches: [ master ]
jobs:
  test:
    strategy:
      matrix:
        day: [ day01, day02, day03, day04, day05, day06 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig build test_${{matrix.day}}
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - run: zig fmt --check day*/*.zig
